/* Catamaran font */
@import url('https://fonts.googleapis.com/css?family=Catamaran');
/* Bungee font */
@import url('https://fonts.googleapis.com/css?family=Bungee Hairline');

/* DensonRound font */
@font-face {
  font-family: 'DensonRound';
  src: url('Denson-Round.eot');
  /* IE9 Compat Modes */
  src: url('Denson-Round.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('Denson-Round.woff') format('woff'),
    /* Modern Browsers */
    url('Denson-Round.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('Denson-Round.svg#Denson-Round') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box
}

/* Set height of body and the document to 100% */
body,
html {
  height: 100%;
  margin: 0;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: #FFFFE0;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 22px;
  width: 15%;
  font-family: 'Bungee Hairline' ;
  position: relative;
  float: inherit;
  left: 150px;
  right: 200px;
}

.tablink:hover {
  background-color: #777;

}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: block;
  padding: 150px 250px;
  font-family: 'Catamaran';
  position: relative;
  font-weight: 100;

}

/* use the Bungee font for the title of address */
h3 {
  font-family: 'Catamaran';
  font-weight: bold;
}

/* Style the google map fream */
iframe {
  display: block;
  margin-left: 300px;
  position: absolute;
  top: 50px;
}

/*use the DensonRound for locations word as headr  */
.d1 {
  font-family: "DensonRound", sans-serif;
  font-size: 50px;
  text-align: center;
}