/* Webfont: Denson-Round */@font-face {
    font-family: 'DensonRound';
    src: url('Denson-Round.eot'); /* IE9 Compat Modes */
    src: url('Denson-Round.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Denson-Round.woff') format('woff'), /* Modern Browsers */
         url('Denson-Round.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Denson-Round.svg#Denson-Round') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

